# My Jupyter Notebook

In [2]:
print("Hellow World!")

Hellow World!

In [1]:
print("I am adding new line from my local Jupyter Notebook.")

I am adding new line from my local Jupyter Notebook.

In [1]:
print("today is May 14th")

today is May 14th

# Data Collection

## Collect data from WHO
- __bullet__
  * sub bullet

In [2]:
import pandas as pd

In [3]:
# initial data
who_url = 'https://covid19.who.int/WHO-COVID-19-global-data.csv'

# download from WHO cloud
raw_data = pd.read_csv(who_url)

In [ ]:
#!pip install pandas

In [11]:
raw_data.sample(10)

,Date_reported,Country_code,Country,WHO_region,New_cases,Cumulative_cases,New_deaths,Cumulative_deaths
85723,2021-07-17,IR,Iran (Islamic Republic of),EMRO,21885,3485940,199,86791
81292,2021-04-22,HN,Honduras,AMRO,736,202413,13,4976
192368,2020-11-17,TV,Tuvalu,WPRO,0,0,0,0
87425,2021-06-11,IE,Ireland,EURO,398,266817,0,5026
12367,2020-07-22,BS,Bahamas,AMRO,21,174,0,11
56874,2021-01-26,EE,Estonia,EURO,357,41320,9,392
104011,2021-08-25,LY,Libya,EMRO,1894,298773,23,4099
99641,2021-07-31,LA,Lao People's Democratic Republic,WPRO,244,5919,0,6
54484,2021-08-31,SV,El Salvador,AMRO,0,94060,11,2909
71900,2021-10-06,GL,Greenland,EURO,4,595,0,0

In [12]:
raw_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205953 entries, 0 to 205952
Data columns (total 8 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Date_reported      205953 non-null  object
 1   Country_code       205084 non-null  object
 2   Country            205953 non-null  object
 3   WHO_region         205953 non-null  object
 4   New_cases          205953 non-null  int64
 5   Cumulative_cases   205953 non-null  int64
 6   New_deaths         205953 non-null  int64
 7   Cumulative_deaths  205953 non-null  int64
dtypes: int64(4), object(4)
memory usage: 12.6+ MB

In [ ]:
raw_data[raw_]